@model IEnumerable<WebStore.Models.Employee>


@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h3>Employees</h3>
    <table class="table">
        <thead>
        <th>#</th>
        <th>Surname</th>
        <th>FirstName</th>
        <th>Patronymic</th>
        <th>Age</th>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a href="~/">Home</a>
    </p>

</div>

