@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>
    <h3>Employees</h3>
    <table>
        <thead>
        <th>#</th>
        <th>Surname</th>
        <th>FirstName</th>
        <th>Patronymic</th>
        <th>Age</th>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a href="~/">Home</a>
    </p>
</body>
</html>
